<div class="post-date">{{ site.data.settings.sharing_button_prompt }}</div>
<div class="sharing-icons">
  <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.github.url }}{{ page.url }}" target="_blank" style="color:#00aced"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.github.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank" style="color:#3d5b99"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a href="https://t.me/share/url?url={{ site.github.url }}{{ page.url }}&text={{ page.title }}" target="_blank" style="color:#3d5b99"><i class="fa fa-telegram" aria-hidden="true"></i></a>
</div>
