/*
  Base
*/

body {
  font-family: $serif-font-family;
  font-size: 19px; // 19
  color: $body-color;
  line-height: 2rem; // 1.9
}

@media (max-width: $elements-responsive-width) {
  body {
    font-size: 19px; // 18
    line-height: 2rem; // 1.8
  }
  body h1 {
    font-size: 2.1rem; //1.5
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  } 
}

h1 {
  font-size: 2.1rem; 
  line-height: 2.3rem;
  color: black;
}

h1 a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif-font-family;
  color: $dark-gray-color;
}

a:link {
  text-decoration: underline;
  color: $link-color;
}

a:hover {
  color: $link-color;
  border-bottom: none;
}

a:visited {
  color: RebeccaPurple;
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

blockquote {
  margin: 10px 20px 10px;
  padding: 0px 15px;
  border-left: 2px solid black;
  color: $dark-gray-color;
  line-height: 1.7;
}

hr {
  border-top: 1px solid $extra-light-gray-color;
}

/*
  Tables
*/

table {
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%;
  border-top: 2px solid black;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
}

  th {
  border-bottom: 2px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
}

  td {
  border: none;
}

th, td {
  padding: 15px;
  text-align: left;
}

.footnotes{
  padding-top: 8px;
  border-top: 2px solid $dark-gray-color;
}

.footnotes:before{
  content: "Footnotes:";
  padding-top: 5px;
}
