---
layout: default
---

<h1>
Welcome to GWDZ
</h1>
<p>
Hello there!
</p>
<p>
I am a philosophy student. This site is my philosophy journal, as much a consequence of my time spent studying philosophy as a cause of it. Here I post topical explainers, argumentative articles, and shower thoughts on interesting questions.
</p>
<p>
My main interests are in social epistemology. I want to answer one big question: "how should groups of people form their beliefs?". This question is important because many groups of people aren't good at forming beliefs.
</p>
<p>
Outside of philosophy, I like cats and fencing (but not fencing cats).
</p>
<style>
  .vertspace{
    margin-bottom:4rem;
  }
</style>
<p class="vertspace">
Have fun exploring!
</p>

<h3 style="text-align:center">Posts</h2>
<hr>
{% for post in paginator.posts %}
  <div class="posts-container">
    <h1>
      <a href="{{ https://site.github.url }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ https://site.github.url }}{{ post.url }}"><img src="{{ https://site.github.url }}/assets/img/{{ post.image }}"></a>
      </div>
    {% endif %}
    <p>
      {{ post.content | strip_html | truncate: 350 }} <a href="{{ https://site.github.url }}{{ post.url }}">Read more</a>
      <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
    </p>
  </div>
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ https://site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ https://site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
